@{
Layout = null;
}

@model ibrozk.Models.ImageCreateViewModel

<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">

<div class="container mt-4">
    <h2 class="mb-4">...</h2>
    <form asp-action="CreateByList" enctype="multipart/form-data" method="post">

        <div class="mb-3">
            <label asp-for="SutunNo" class="form-label">Sütun No (1, 2, 3)</label>
            <input asp-for="SutunNo" class="form-control" />
            <span asp-validation-for="SutunNo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Tag" class="form-label">Kategori</label>
            <input asp-for="Tag" class="form-control" />
            <span asp-validation-for="Tag" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Photo" class="form-label">Fotoğraf</label>
            <input asp-for="Photo" type="file" class="form-control" multiple />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Oluştur</button>
        </div>
    </form>
</div>